<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HouseInfo.UserApp.ExcelSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <!-- WorksheetNameInCalc     - Имя рабочего листа в файле для расчётов -->
        <!-- WorksheetFlatsNameInBD  - Имя рабочего листа квартир в БД -->
        <!-- WorksheetHousesNameInBD - Имя рабочего листа домов в БД -->
        <!-- AddressColumnsInBD      - Диапазон для столбцов (a, b, c ,d, e) адресов  в файле БД -->
        <!-- AddressInCalc           - Диапазон для ячеек  (a, b, c ,d, e) адреса в файле расчётов -->
        <!-- СopiedIntervalsToFlatsWorksheet  - Непрерывные интервалы копирования ячеек из файла расчётов в (из '=' в;) соответствующие столбцы в БД листа с квартирами -->
        <!-- СopiedIntervalsToHousesWorksheet - Непрерывные интервалы копирования ячеек из файла расчётов в (из '=' в;) соответствующие столбцы в БД листа с домами -->   
        <HouseInfo.UserApp.ExcelSettings>
            <setting name="WorksheetNameInCalc" serializeAs="String">
                <value>лист запрос</value>
            </setting>
            <setting name="WorksheetFlatsNameInBD" serializeAs="String">
                <value>tab1</value>
            </setting>
            <setting name="WorksheetHousesNameInBD" serializeAs="String">
                <value>tab2</value>
            </setting>
            <setting name="AddressColumnsInFlats" serializeAs="String">
                <value>B-F</value>
            </setting>
            <setting name="AddressInCalc" serializeAs="String">
                <value>A32-E32</value>
            </setting>
            <setting name="СopiedIntervalsToFlatsWorksheet" serializeAs="String">
                <value>A36-B36 = G-H; C36-Q36 = N-AB; B39-Q39 = AC-AR; E43 = A;</value>
            </setting>
            <setting name="СopiedIntervalsToHousesWorksheet" serializeAs="String">
                <value>A43-R43 = A-R;</value>
            </setting>
            <setting name="FlatsBeginTableRow" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FlatsStartRow" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HousesBeginRow" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HousesStartRow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NonDublicateHouses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddressColumnsInHouses" serializeAs="String">
                <value>D-H</value>
            </setting>
        </HouseInfo.UserApp.ExcelSettings>
    </userSettings>
</configuration>